@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #17A2BB;
    min-height: 100vh;
}

.wrapper {
    width: 450px;
    border-radius: 7px;
    background-color: #fff;
    padding: 30px 25px 40px;
}

.wrapper :where(textarea, input, select, button) {
    width: 100%;
    outline: none;
    border: none;
    font-size: 17px;
    border-radius: 5px;
}

.wrapper textarea {
    height: 270px;
    resize: none;
    border: 1px solid #ccc;
    padding: 8px 15px;
}

.wrapper .file-options {
    display: flex;
    margin-top: 10px;
    align-items: center;
    justify-content: space-between;
}

.file-options .option {
    width: calc(100% / 2 - 8px);
}

.option :where(input, .select-menu) {
    height: 50px;
    padding: 0 15px;
    margin-top: 6px;
    border-radius: 5px;
    border: 1px solid #bfbfbf;
    line-height: 50px;
}

.wrapper .save-btn {
    color: #fff;
    margin-top: 20px;
    padding: 16px 0;
    cursor: pointer;
    opacity: 0.6;
    background-color: #17A2BB;
    pointer-events: none;
}

.wrapper textarea:valid~.save-btn {
    opacity: 1;
    pointer-events: auto;
}